.container-fluid
  .row-fluid
    .span5
      %header
        %h2 Twitter Real Time Updates Example
        %p This is a sample demonstration  of how Twitter does real time polling of updates.
      #page
        -unless @page.cats.empty?
          .alert.alert-info
            %h3==#{pluralize(@page.cats.size, 'cat')} more since you last viewed!
          %h5==#{pluralize(@page.cats.size, 'cat')} total!
          %a{:href=>"#", :onclick => "resetInterval()", :class => "btn dropdown-toggle pull-left", :id => "polling", "data-toggle"=>"dropdown"}
            Stop Polling
          .btn-group.pull-right
            %a{:href=>"#", :onclick => "revealNewItems()", :class => "btn btn-primary"}
              Open New Items
            %a{:href=>"#", :onclick => "revealNewItems()", :class => "btn btn-primary"}
              %span
                %i{:class => "icon-plus icon-white"}
          %br
          %br
          .cats.well.hidden.clearfix
            .items{:class => "new-items"}
              = render (@page.cats)

    .span7
      %h4 Exercise

      .well
        %p== If you haven't already checked out twitter's real-time search, try #{link_to "http://twitter.com/search?q=arenanet", "http://twitter.com/search?q=arenanet"}. If you leave the results on, you'll have real-time updates similar to facebook news feed updates. (i.e. 1,203 more tweets since you started searching will highlight just below the search bar and the total counter in the browser's title bar will update as well).

        %p Create a page that updates the list on the left hand-side, with latest items inserted at the top and highlighted. There should also be text inserted above the currently selected image stating "X more images since you viewed" with the browser title bar updated.

        %p You may use any server technology you'd like (Node.js, ASP.NET MVC, PHP, or perhaps even pulling from a 3rd party API such as Flickr, Photobucket); the server only needs to supply you with a randomly generated list of new names and image urls. Don't be concerned with beautiful graphics and UI design. The focal point of this exercise is to demonstrate your abilities in starting a maintainable javascript code base that can handle updates to multiple parts of the page (i.e. title bar, column list and body) and has clean HTML/CSS structure. You may choose any JavaScript framework of your choice.

      .well
        %p== My version of the exercise randomly pulls objects from the Ruby on Rails database in this case, cat objects. It can be expanded on with thumbnails and styling and whatnot. You can add more cats by going to #{link_to "the cats list", cats_path}, and entering more cats if you would like to try the serverside application. It is a traditional Ruby on Rails CRUD (create, read, update, delete) application and all of it is functional.

        %p Things I would do differently, if more people were using the applicaiton I would put more limits on the setTimeout functionality so they don't overwhelm the server. You can throttle it, or if you need more performance you can open a socket directly to the user. In this case, I went with polling the server instead. The home page is for the main page of the application.

        %p== All source code is on #{link_to "github", "https://gitub.com/xianthe/ballin-octo-pix"}

:javascript

  //Initial timeout is 5s, can throttle this dynamically.
  var timeout = 5000;

  $(function(){

    //Make an initial request to the server
    setTimeout(updateItems, timeout);

  });

  function revealNewItems(){
    //Reveal all hidden items
    $('.hidden').show();

    //Remove the hidden class so items show up, and tag them all as new items;
    //remove new item tag from all old new items
    //$('.accordion').removeClass("new-items"); 
    $('.cats').removeClass("hidden");
    $('.accordion').removeClass("hidden");

    //Highlight the new items briefly
    $(".new-items").effect("highlight", {color: "#ffc8ba"}, 3000);
    $('.items').removeClass("new-items");

    $("#page h3").text("0 cats since you last viewed!");
  }

  function resetInterval(){
   if (timeout === 0)
   {
     //Alows the user to start the polling again
     timeout = 5000;
     $("#polling").text("Stop Polling");
     setTimeout(updateItems, timeout);

   }
   else
   {
      //Allows the user to stop the polling
      timeout = 0;
      $("#polling").text("Start Polling");
   }
  }

  function updateItems(){

    //Make an AJAX call to the rails server to get some data.
    $.getScript("/cats.js");
    var current_cats_count = parseInt($("#page h3").text().split(" ")[0],10);

    //If timeout is enabled, continue requesting data from the server.
    if (timeout !== 0){
     setTimeout(updateItems, timeout);
    }
  }