!!!
%html
%head
  %title{:id => "page-title"}Cats - Real Time Updates
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags 
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

:plain
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script>      
       var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34944702-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <![endif]-->  

%body
.container
  .navbar.navbar-fixed-top
    .navbar-inner.nav-space
      .brand
        Cats
      %ul.nav
        %li= link_to "Home Page", root_path
        /%li= link_to "Picture Gallery"
        %li= link_to "Github Source", "https://github.com/xianthe/ballin-octo-pix"
.main-content
  = yield
.container
  .navbar.navbar-fixed-bottom
    .navbar-inner
      %ul.nav
        %li= link_to "List of Cats", cats_path
      .pull-right
        %footer
          %h5 Copyright 2012 Valerie Thompson
