!!!
%html
%head
  %title{:id => "page-title"}Cats - Real Time Updates
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags 
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

:plain
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  

%body
.container
  .navbar.navbar-fixed-top
    .navbar-inner.nav-space
      .brand
        Cats
      %ul.nav
        %li= link_to "Home Page", root_path
        %li= link_to "Picture Gallery"
        %li= link_to "Github Source", "https://github.com/xianthe/ballin-octo-pix"
.main-content
  = yield
.container
  .navbar.navbar-fixed-bottom
    .navbar-inner
      %ul.nav
        %li= link_to "List of Cats", cats_path
      .pull-right
        %footer
          %h5 Copyright 2012 Valerie Thompson